# PCA

In [1]:
# example of pca for dimensionality reduction
from sklearn.datasets import make_classification
from sklearn.decomposition import PCA

In [2]:
# define dataset
X, y = make_classification(n_samples=1000, n_features=10, n_informative=3, n_redundant=7,
random_state=1)

In [3]:
# summarize data before the transform
print(X[:3, :])

[[-0.53448246  0.93837451  0.38969914  0.0926655   1.70876508  1.14351305
  -1.47034214  0.11857673 -2.72241741  0.2953565 ]
 [-2.42280473 -1.02658758 -2.34792156 -0.82422408  0.59933419 -2.44832253
   0.39750207  2.0265065   1.83374105  0.72430365]
 [-1.83391794 -1.1946668  -0.73806871  1.50947233  1.78047734  0.58779205
  -2.78506977 -0.04163788 -1.25227833  0.99373587]]

In [4]:
# define the transform
trans = PCA(n_components=3)

In [5]:
# transform the data
X_dim = trans.fit_transform(X)

In [6]:
# summarize data after the transform
print(X_dim[:3, :])

[[-1.64710578 -2.11683302  1.98256096]
 [ 0.92840209  4.8294997   0.22727043]
 [-3.83677757  0.32300714  0.11512801]]

In [9]:
X.shape

(1000, 10)

In [ ]:
y

In [8]:
y.shape

(1000,)

---

In [11]:
from sklearn.datasets import make_classification
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier
from sklearn.decomposition import PCA
import pandas as pd

In [12]:
# import xls file
data = pd.read_csv('credit_cards_dataset.csv') # skip the first row of the spreadsheet

In [13]:
data = data.rename(columns={'default payment next month': 'DEFAULT_NEXT_MONTH'})

In [14]:
y='default.payment.next.month'
X = [name for name in data.columns if name not in [y, 'ID', 'Y_Value']]
print('y =', y)
print('X =', X)

y = default.payment.next.month
X = ['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']

In [15]:
X=data[X]

In [16]:
X

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0
1,120000.0,2,2,2,26,-1,2,0,0,0,...,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0
2,90000.0,2,2,2,34,0,0,0,0,0,...,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
3,50000.0,2,2,1,37,0,0,0,0,0,...,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,1,3,1,39,0,0,0,0,0,...,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0
29996,150000.0,1,3,2,43,-1,-1,-1,-1,0,...,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0
29997,30000.0,1,2,2,37,4,3,2,-1,0,...,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0
29998,80000.0,1,3,1,41,1,-1,0,0,0,...,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0
29999,50000.0,1,2,1,46,0,0,0,0,0,...,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0

In [17]:
y=data['default.payment.next.month']

In [18]:
y

0        1
1        1
2        0
3        0
4        0
        ..
29995    0
29996    0
29997    1
29998    1
29999    1
Name: default.payment.next.month, Length: 30000, dtype: int64

In [19]:
trans = PCA(n_components=10)

In [20]:
X_dim = trans.fit_transform(X)

In [21]:
print(X_dim[:3, :])

[[-1.66488191e+05 -7.55381537e+04 -4.72952106e+02 -1.38240596e+02
   3.56372601e+02 -2.28581767e+01 -8.61737802e+02  7.90130839e+01
   1.89499608e+02  7.14585844e+02]
 [-1.14226977e+05  9.78067125e+03  2.73444748e+03 -1.56719589e+03
  -4.05071033e+03  6.96602606e+02 -1.51605853e+03  1.26172075e+03
  -6.26282074e+02  4.83598389e+02]
 [-9.84323622e+04 -3.34713873e+04 -2.67846979e+03 -5.10226236e+03
   3.36117708e+03  1.77028488e+02 -6.98694432e+03  1.61205566e+03
  -2.28383642e+03  4.59992560e+03]]

In [22]:
# define RFE
rfe = RFE(estimator=DecisionTreeClassifier(), n_features_to_select=10)

In [23]:
rfe

RFE(estimator=DecisionTreeClassifier(), n_features_to_select=10)

In [24]:
# fit RFE
rfe.fit(X, y)

RFE(estimator=DecisionTreeClassifier(), n_features_to_select=10)

In [25]:
# summarize all features
for i in range(X.shape[1]):
    print('Column: %d, Selected=%s, Rank: %d' % (i, rfe.support_[i], rfe.ranking_[i]))

Column: 0, Selected=False, Rank: 3
Column: 1, Selected=False, Rank: 11
Column: 2, Selected=False, Rank: 8
Column: 3, Selected=False, Rank: 12
Column: 4, Selected=True, Rank: 1
Column: 5, Selected=True, Rank: 1
Column: 6, Selected=False, Rank: 7
Column: 7, Selected=False, Rank: 9
Column: 8, Selected=False, Rank: 14
Column: 9, Selected=False, Rank: 13
Column: 10, Selected=False, Rank: 10
Column: 11, Selected=True, Rank: 1
Column: 12, Selected=True, Rank: 1
Column: 13, Selected=False, Rank: 5
Column: 14, Selected=True, Rank: 1
Column: 15, Selected=True, Rank: 1
Column: 16, Selected=True, Rank: 1
Column: 17, Selected=True, Rank: 1
Column: 18, Selected=True, Rank: 1
Column: 19, Selected=False, Rank: 2
Column: 20, Selected=False, Rank: 6
Column: 21, Selected=False, Rank: 4
Column: 22, Selected=True, Rank: 1